name: Check Configuration

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  check-system:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Guix
      uses: PromyLOPh/guix-install-action@v1
      # We need channels.scm because we might use nonguix symbols or specific package sets
      with:
        channels: |
          (list
           (channel
            (name 'guix)
            (url "https://codeberg.org/guix/guix.git")
            (introduction
             (make-channel-introduction
              "9edb3f66fd807b096b48283debdcddccfea34bad"
              (openpgp-fingerprint
               "BBB0 2DDF 2CEA F6A8 0D1D  E643 A2A0 6DF2 A33A 54FA"))))
           (channel
            (name 'nonguix)
            (url "https://gitlab.com/nonguix/nonguix")
            (introduction
             (make-channel-introduction
              "897c1a470da759236cc11798f4e0a5f7d4d59fbc"
              (openpgp-fingerprint
               "2A39 3FFF 68F4 EF7A 3D29  12AF 6F51 20A0 22FB B2D5")))))

    - name: Check system configuration
      # Use --dry-run to validate the configuration graph without building everything
      run: guix system build --dry-run -L . system/vm-config.scm
